.inputRowWRightIcons {
  display: flex;
  justify-content: space-between;
}
.iconGroup {
  white-space: nowrap;
}
button.iconBttn {
  color: unset;
  text-shadow: none;
  background-color: transparent;
  margin: unset;
  padding: unset;
  border-style: none;
}
.btn-primary {
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.weekMealPlanFormCards {
  width: 28rem;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 3px !important;
}
.mealCardHeader {
  display: unset;
  padding: 0 !important;
}
hr {
  margin: 0 !important;
}
.mealHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 3px !important;
  padding: 0 !important;
}
.card-body {
  padding: 0 !important;
}
.wkDaysAccrdnBdy {
  padding: 0 1rem !important;
}
.accordion-header {
  justify-self: flex-end;
}
button.accordion-button {
  padding: 3px 1rem 3px 1rem;
}
.newItemButton {
  align-items: center;
  display: flex;
  padding: 1rem;
}
.btn-primary svg {
  margin: auto 0.5rem auto -0.5rem;
}
.weekMealPlanMacroInput {
  max-width: 6em;
  text-align: center;
}
.weekMealPlanMacroBadge {
  margin: 1rem;
}
.accrdnWeekMealPlanMacroBdy {
  padding: 0 !important;
}
.accordionNotFlush {
  background-color: #fff;
  background-clip: border-box;
  border: 1.5px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin: 1rem 0;
}
.accordionItemNotFlush {
  border-bottom: 0 !important;
}
.spinner-border {
  margin: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown-item {
  display: flex !important;
  align-items: center;
}
.mealEditDDownItemTxt {
  margin-left: 1rem;
}
.mealForm {
  width: 100%;
  margin-right: 1rem;
}
.form-select {
  margin: 0.5rem;
}
.dropdown-toggle {
}

.mealEditDDown {
}
.mealCardTbl {
  margin: 0 !important;
}
.mealCardTbl td {
  padding: 0;
}
.mealImgNTblRow {
  display: grid;
  grid-template-columns: max-content;
  grid-template-rows: 2.5rem;
  grid-template-areas:
    "mealImg mealPrepInst"
    "mealImg mealTextArea";
}
.mealImg {
  margin: 0;
  padding: 0 !important;
  grid-area: mealImg;
}
.mealTextArea {
  grid-area: mealTextArea;
  border-width: 1px !important;
}
.mealPrepInst {
  grid-area: mealPrepInst;
}
.mealInnerAccrdnBttn {
  justify-content: center;
}
.mealInnerAccrdnBttn::after {
  margin: unset !important;
}
.recipeSelectHeader {
  margin: auto 1rem;
}
.mealInnerAccordion {
  padding: 0 !important;
}
.mealInputsTbl {
  width: 100%;
  margin-top: -1px;
}
.mealInputsTh {
  padding: 0.5rem;
  border-width: 1px !important;
}
.mealInputsTd {
  border-width: 1px !important;
}
.mealInput {
  margin: 0.5rem;
  border-width: 1px !important;
  width: 95% !important;
}
.formSctnTitle {
  padding: 0.5rem 0 0.5rem 1rem;
  margin: 0;
}
.mealAdminAccrdnBttn {
  height: 0.75rem;
  margin-bottom: -1px;
  background-color: rgba(0, 0, 0, 0.03) !important;
}
.mealAdminAccrdnBttn svg {
  height: 10px;
  margin: -2px 0 auto 95%;
}
