/* Color Definitions: */
:root{
  --brandColorPrimary:#bc6bab;
  --brandColorSecondary:#52424E;
  --offWhite:#fcf7fc;
  --offBlack:#342b32;
  --bootStrapCardBorderColor:rgba(0, 0, 0, .125);
  --bootStrapCardBGColor: rgba(0, 0, 0, .03);
}
:root{
  --bootStrapCardBorder:1px solid var(--bootStrapCardBorderColor);
  --dominantColor:white;
  --secondaryColor:var(--brandColorPrimary);
  --textAndDarkColor:var(--brandColorSecondary);
  --accentColor:#EC759D;
}
:root{
  --scrnShtAnnttnShapeColor:var(--accentColor);
}
header,main,footer {
  color:var(--textAndDarkColor);
  
}
body{
  background-color: var(--offWhite) !important;
}
.inputRowWRightIcons {
}
.wmpNameFrmGroup{
  width:100%;
  margin-left: 0.25rem;
}
.wmpNameLbl{
  grid-area: wmpNameLbl;
  margin-bottom: 0.5rem;
}
.iconGroup {
  white-space: nowrap;
  display: flex;
}
button.iconBttn {
  color: unset;
  text-shadow: none;
  background-color: transparent;
  margin: unset;
  padding: unset;
  border-style: none;
}
.btn-primary,div.bg-primary {
  
  background-color: var(--secondaryColor) !important;
  border-color: var(--textAndDarkColor) !important;
}
.btn-primary{
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.weekMealPlanFormCards {
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 3px !important;
}
.mealCardHeader {
  display: unset;
  padding: 0 !important;
  border-bottom: unset !important;
}
hr {
  margin: 0 !important;
}
.subCardHeader {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "recipeLabel recipeSelect"
    "recipeWarning recipeWarning";
  padding-right: 3px !important;
  padding: 0 !important;
}
.card-body {
  padding: 0 !important;
}

.wkDaysAccrdnBdy {
  padding: 0 1rem !important;
}
.accordion-header {
  justify-self: flex-end;
}
button.accordion-button {
  padding: 3px 1rem 3px 1rem;
}
.newItemButton {
  align-items: center;
  display: flex;
  padding: 1rem;
}
.btn-primary svg {
  margin: auto 0.5rem auto -0.5rem;
}
.weekMealPlanMacroInput {
  max-width: 6em;
  text-align: center;
}
.weekMealPlanMacroBadge {
  margin: 1rem;
}
.accrdnWeekMealPlanMacroBdy {
  padding: 0 !important;
}
.accordionNotFlush {
  background-color: #fff;
  background-clip: border-box;
  border: 1.5px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin: 1rem 0;
}
.accordionItemNotFlush {
  border-bottom: 0 !important;
}
.spinner-border {
  margin: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown-item {
  display: flex !important;
  align-items: center;
}
.mealEditDDownItemTxt {
  margin-left: 1rem;
}
.recipeSelect {
  /* margin: 0.5rem;
  margin-left: -0.25rem;
  grid-area: recipeSelect;
  width: 98% !important; */
  margin:0.5rem 0.5rem 0.35em 0.5rem;
}
.mealImgNTblRow {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 3rem minmax(10vw,100px);
  grid-template-areas:
    "mealImg mealPrepInst"
    "mealImg mealTextArea";
  margin: -0.75px -0.75px auto -0.75px;
}
.mealImg {
  margin: 0;
  padding: 0 !important;
  grid-area: mealImg;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}
.mealTextArea {
  grid-area: mealTextArea;
  border-width: 1px !important;
}
.mealPrepInst {
  grid-area: mealPrepInst;
  padding: 0.5rem;
}
.mealInnerAccrdnBttn {
  justify-content: center;
}
.mealInnerAccrdnBttn::after {
  margin: unset !important;
}
.accordion-button:not(.collapsed) {
  margin-bottom: -1px;
}
.recipeSelectHeader {
  margin: 0 0.25rem 0 0.5rem;
  font-size: 12pt;
  grid-area: recipeLabel;
  display:flex;
  align-items: center;
}
.formSctnTitle {
  padding: 0.5rem 0 0.5rem 1rem;
  margin: 0;
}
.mealAdminAccrdnBttn {
  height: 1rem;
  margin-bottom: -1px;
  background-color: rgba(0, 0, 0, 0.03) !important;
  justify-content: flex-end;
  border-top: 1px solid rgba(0, 0, 0, .125) !important;
}
.dayAdminAccrdnBttn{
  height: 1rem;
  margin-bottom: -1px;
  background-color: rgba(0, 0, 0, 0.03) !important;
  justify-content: flex-end;
}
.dayAdminAccrdnBttn::after {
  margin: 0.25rem !important;
}
.dayAdminAccrdnBttn svg {
  height: 10px;
}
.wmpAdminAccrdnBttn {
  height: 1rem;
  margin-bottom: -1px;
  background-color: rgba(0, 0, 0, 0.03) !important;
  justify-content: flex-end;
  /* border-top: 1px solid rgba(0, 0, 0, .125) !important; */
}
.mealAdminAccrdnBttn svg {
  height: 10px;
}
.mealGenRecipeSctnHdr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-bottom: -1px;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.mealInnerAccordion {
  padding-top: 0.25rem !important;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  column-gap: 1rem;
}
.dayInnerAccordion {
  padding-top: 0.25rem !important;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 1rem;
}
.mealInnerAccordion label {
  padding: 0.25rem 0 0.5rem 0;
}
.dayInnerAccordion label {
  padding: 0.25rem 0 0.5rem 0;
}
.mealCardBody {
  margin-bottom: -1px !important;
  border: solid 1px rgba(0, 0, 0, 0.03);
}
.emptyAndNotAuthor {
  font-style: italic;
  margin: 1rem 1rem 1rem 2rem !important;
}
.mealDetailTopAccrdn div.accordion-flush {
  margin-bottom: -1px !important;
}
.macroTblCntnr {
  display: flex;
  justify-content: center;
}
.macrosTable {
  background-color: #fff;
  border: solid 5px;
  min-width:300px;
}
.macrosTable h4,
.macrosTable h5 {
  padding: 0;
  margin: 0;
}
.macrosTable td,
.macrosTable th {
  font-size: 8pt;
  padding: 0.2em 0.5em !important;
}
/* .mealMacrosTbl {
  margin: 0.5rem 0.5rem 0 0.5rem !important;
} */
.mealIngrdntSctn {
  display: flex;
  flex-direction: row;
}
.mealIngrdntSctn div {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: flex-start;
  align-items: flex-start; */
}
.mealIngrdntSctn form.card {
  box-sizing: border-box;
  margin: 1rem;
  min-width: unset;
}
.mealIngrdntSctn div.visible, div.mealIngrdntSctn div.hidden{
  margin: 1rem;
}
.mealIngrdntHidden {
  margin-top: 0 !important;
}
.mealIngrdntSctn div.form-group{
  flex-direction: column;
}
.mealIngrdntSctn label {
  white-space: nowrap;
  margin-bottom: 0.5rem;
}
.mealIngrdntSctn p {
  white-space: wrap;
  width: fit-content;
}
.ingrdntFormSctn div.form-group{
  margin-right: 1rem;
}
.mealIngrdntSctn div.card-header{
      min-height: 3.5rem;
      display: flex;
      align-items: flex-start;
}
.card-header h6 {
  margin: 0;
}
.recipeCard{
  display: block !important;
}
.mlIgrdntCrdTpSctn{
  display: flex;
  align-items: flex-start;
}
.mlIngrdntFrm{

}
.mlIngrdntFrmHdr{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "mlIngrdntHdr mlIngrdntFrmIcns"
    "mlIngrdntQty mlIngrdntQty";
}
.mlIngrdntHdr{
  grid-area: mlIngrdntHdr;
}
.mlIngrdntFrmIcns{
  grid-area: mlIngrdntFrmIcns;
}
.mlIngrdntQty{
  grid-area: mlIngrdntQty;
}
.gnRcpIngrdntFrmHdr{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: "gnRcpIngrdntHdr gnRcpIngrdntFrmIcns"
  "gnRcpIngrdntQty gnRcpIngrdntQty";
}
.gnRcpIngrdntHdr{
  grid-area: gnRcpIngrdntHdr;
}
.gnRcpIngrdntFrmIcns{
  grid-area: gnRcpIngrdntFrmIcns;
}
.gnRcpIngrdntQty{
  grid-area: gnRcpIngrdntQty;
}
.ingrdntFrmHdr{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "ingrdntHdr ingrdntHdr ingrdntFrmIcns"
    "ingrdntPicDiv ingrdntUOM ingrdntWghtType"
    "ingrdntBrnd ingrdntName ingrdntName";
}
.ingrdntHdr{
  grid-area: ingrdntHdr;
}
.ingrdntFrmIcns{
  grid-area: ingrdntFrmIcns;
}
.ingrdntUOM{
  grid-area: ingrdntUOM;
}
.ingrdntWghtType{
  grid-area: ingrdntWghtType;
}
.ingrdntBrnd{
  grid-area: ingrdntBrnd;
}
.ingrdntName{
  grid-area: ingrdntName;
}
.ingrdntName label{
  padding-bottom:0.25rem !important;
}
.ingrdntPicDiv{
  grid-area: ingrdntPicDiv;
  width: 85%;
  height: 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.5rem;
  margin: 0.5rem 0 0 0.25rem;
}
.ingrdntPic{
  grid-area: ingrdntPic;
  border-radius: 0.5rem;
  margin: 1rem 0.5rem 1rem 0;
}
.mlIngrdntsCard{
  margin: 0 1rem 1rem 0;
  max-width:25rem;
}
.mlIngrdntsCard input{
  width: 100%;
  padding:0.25rem;
}
.mlIngrdntsCard div {
}
.mlIngrdntsCard div.iconGroup {
  padding: 0;
  margin: 0 !important;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.mlIngrdntsCard div.form-group {
  margin: 0 0.5rem
}
.ingrdntFrmHdr div.form-group{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.2rem !important;
}

div.mlIgrdntCrdTpSctn, div.mlIngrdntCrdBttmSctn{
  padding: 0 !important;
}
div.mlIngrdntFrmHdr,
div.gnRcpIngrdntFrmHdr, div.ingrdntFrmHdr {
  padding: 0.5rem !important;
}
.mealAdminAccrdnBttn::after {
  margin: 0.25rem !important;
}
.doubleHeightLabel{
  min-height: 3.25rem;
}


.ingrdntInnrAccrdn label{
  min-height: unset;
}
.flushElement{
  padding: 0 !important;
}

.mlIngrdntsCard div.accordion-body{
  padding: 0 !important;
}
.mlIngrdntsCard div.ingrdntInnrAccrdn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 0.5rem !important;
}
.ingrdntAdminMenu{
  /* margin-top:0.5rem; */
}
.ingrdntFrmGrpWBttmPddng{
  padding-bottom:0.5rem !important;
} 
@media only screen and (max-width: 667px) {
  /* *{
    font-size: 85%;
  } */
  input, select {
    font-size: small !important;
    padding: 0 0 2px 5px !important;
  }
  label {
    font-size: 0.75rem;
    margin-bottom: 0.1rem;
  }
  .ingrdntFrm div.recipeSelect {
    font-size: small !important;
    margin:2px !important;
    padding:0 !important;
  }
  .recipeSelect * {
    font-size: small !important;
    /* margin: 2px !important; */
    padding: 0 !important;
  }
  .css-3iigni-container *{
  }
  .mlIngrdntsCard *{
    white-space: normal;
    margin-right: 0;
  }
  .mealImg{
    background-size: contain;
  }
  .ingrdntPicDiv{
    background-size: contain;
    border-radius: 0;
  }
  textarea{
    font-size: 0.85rem !important;
  }
  .form-select{
    background-position: right 2px center !important;
  }.dayMacTable {
    margin-left: -12px !important;
  }
  .mealMacTable {
    margin-left: -30px !important;
  }
  nav div,nav span,nav button{
    background-color: var(--offBlack) ;
    color:var(--offWhite)
  }
  nav path{
    color:var(--offWhite)
  }
  nav.navbar {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    /* background: rgb(188, 107, 171);
      background: linear-gradient(0deg, rgba(188, 107, 171, 1) 0%, rgba(202, 138, 188, 1) 3%, rgba(222, 181, 213, 1) 10%, rgba(240, 222, 236, 1) 20%, rgba(249, 242, 248, 1) 39%, rgba(255, 255, 255, 1) 57%, rgba(255, 255, 255, 1) 67%); */
    background-color: var(--offBlack) !important;
    border-bottom-color: var(--bootStrapCardBorderColor);
  }
  .profileDDBttn{
    padding:0 0 0 0.5rem !important;
  }
  .lottieCont {
    margin-left: -0.87rem;
  }
  .mealImgNTblRow {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: minmax(10vw, 100px) 2rem minmax(10vw, 100px);
    grid-template-areas:
      "mealImg mealImg"
      "mealPrepInst mealPrepInst"
      "mealTextArea mealTextArea";
    margin: -0.75px -0.75px auto -0.75px;
  }
  .mealInnerAccordion {
    padding-top: 0.25rem !important;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    column-gap: 1rem;
  }
  .ingrdntFrmHdr {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:
      "ingrdntHdr ingrdntHdr ingrdntFrmIcns"
      "ingrdntPicDiv ingrdntPicDiv ingrdntPicDiv"
      "ingrdntUOM ingrdntUOM ingrdntUOM"
      "ingrdntWghtType ingrdntWghtType ingrdntWghtType"
      "ingrdntBrnd ingrdntBrnd ingrdntBrnd"
      "ingrdntName ingrdntName ingrdntName";
  }
  .ingrdntFrmHdr div.ingrdntName {
    margin-top: 1rem !important;
  }
  .reactSelectValContainer{
    font-size: 10pt;
    line-height: 1rem;
    height: 1.5rem;
  }
  .nav-tabs{
  margin: -0.75rem 0 1rem 0 !important;
  justify-content: center;
  color:inherit;
  }
  .shopListTbl{
    font-size: x-small;
  }
  .shopListThRow {
    height: 4rem !important;
  }
  main,section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
}
@media only screen and (min-width: 530px) {
  .tabLink:first-child{
  margin-left: 2rem !important;
}
.homeWMPsLink {
    justify-content: flex-start;
    margin-left: 1rem;
  }
}
.mlIngrdntsCntnr{
  display: flex;
  flex-wrap: wrap;
}
.recipeWarning{
  grid-area: recipeWarning;
  padding: 0.25rem 0.5rem !important;
  margin: 0 0.5rem 0.5rem 0.5rem !important;
  text-align: right;
  font-size: small;
  width: fit-content;
  justify-self: end;
}
.changingWarning{
  color:#ffc107;
  background-color: #fff;
  border-radius: 0.25rem;
}
.cardHeaderFocused{
  background-color: #ffc107 !important;
}
.subCardHeaderFocused{
  padding:0.5rem !important;
  background-color: #ffc107;
}
.modal-title{
  text-transform: capitalize;
}
.changeWarning{
  z-index: 999;
  width:50%;
  position: fixed;
  top:25%;
  left:25%;
}
h6.mealIngrdntHdr, h6.genRecipeIngrdntHdr{
  margin: 0.5rem auto 1rem auto !important;
}
.alert-secondary{
  margin-top: 1.5rem !important;
}
.alert-secondary em span{
  font-weight: bolder;
}
.dayCardAccrdnBttn{

}
.dayCardAccrdnBttnLbls{
  font-size: 0.8rem;
}
.dayAdminAccrdnBdy{
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.wmpCardBody{
}
.wmpCardHeader{
  display: flex;
  justify-content: space-between;
  padding:0.5rem !important;
}
.weekMealPlanFormCards{
  margin:1rem !important;
}
.wmpNameInput{
  margin-right:0.5rem;
  /* width: -webkit-fill-available !important; */
  grid-area: wmpNameInput;
  height:2.1rem;
}
.wmpInnerAccordion{
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding:0 0.5rem 0.5rem;
}
.requiredFldLbl{
  white-space: nowrap;
  color:red;
}
.registerCard{
  max-width:70rem;
}
.registerFormRow1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
form fieldset{
  min-width: 15rem;
  max-width:50rem;
  padding: 1rem;
  margin: 1rem 1rem 0 1rem;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 3px;
}
.form-check{
  margin:0.5rem !important;
}
/* .registerForm{
  display:grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "registerBox1 registerBox2"
    "registerSubmit registerSubmit";
  gap:1rem;
} */
/* .registerBox1{
  grid-area: registerBox1;
}
.registerBox2{
  grid-area:registerBox2;
} */
.registerSubmit{
      /* grid-area: registerSubmit; */
        margin: 0 1rem 0.5rem 0;
        width: 15rem;
}
.wmpCopyBttn{
  font-size: 0.75rem !important;
  white-space: normal;
  padding: 0.25rem 0.4rem 0.25rem 0.2rem !important;
  margin:0 0 0 0.25rem !important;
}
.copyIconCont{
  height:3.4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width:min-content;
  padding:0;
}
.copyIconCont svg {
  margin:unset !important;
}
.copyTxtCont{
  width: 4.1rem;
  margin-left: 0.25rem;
  text-align: left !important;
}
.alreadyRegistered{
        padding: 0;
        margin: 0 0 0 0.5rem;
}
.registerFrmGrp{
      display: flex;
        align-items: center;
        /* width: 100%; */
        flex-wrap: wrap;
        margin: 1rem;
}
.fa-circle-user{
  color:white;
  height:2rem;
}
.navbar-nav{
  display: flex;
}
.navUserLi{
      display: flex;
        margin: 0 !important;
        align-items: center;
}
.profileDDBttn{
  background-color:unset !important;
  border-style:none !important;
}
.profileDDBttn::before{
  display:none !important;
}
.profileDDLi{
  padding:0 !important;
}
.rgstrShwPWrdRow{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pWordStrngthChkMrk{
  color:green;
  font-weight: 900;
  font-size: 1.25rem;
}
.pWordStrengthChckr{
  font-size: 0.75rem !important;
        width: 12rem !important;
        float: right;
        margin-top: 0.5rem;
}
.rgstrFrmChckItm{
  min-height: unset !important;
  margin: unset !important;
}
.rgstrFrmChckItm label{
  margin-left:0.25rem;
  
}
.rgstrStrengthChckrHdr{
  font-size: 0.75rem;
}
.pWordHndlLbl{
  width:100%;
}
.rgstrChckBox:checked {
  background-color: #198754 !important;
  border-color: #198754 !important;
}
.submitBttnWRightErrs{
  display: flex;
  align-items: stretch;
  margin: 1.5rem 0.5rem;
}
.submitBttnWRightErrs input {
  margin: 0 1rem 0 0;
}
.submitBttnWRightErrs div {
  padding: 0.5rem 1rem;
  margin:unset;
}
.mlWghtsCont{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mealPrcntSldr{
  width:80%;
}
div.mealPrcntSldr:first-child{
  margin-top: 1rem;
}
.mealWeightNumField{
  display:unset !important;
  width:3rem !important;
  padding:4px 5px 6px 5px !important;
  margin:5px !important;
  height:1.5rem;
}
.applyMlWghtChngBttnCont{
      display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: min-content;
        grid-area: chckBttn;
}
.applyMlWghtChngBttnLabel{
  font-size: 0.6rem;
        text-align: center;
        height: min-content !important;
}
        
.applyMlWghtChngBttn{
      border-radius: 100% !important;
    width: 3rem !important;
    height: 3rem !important;
  margin: 0;
  z-index: 3;
}
.applyMlWghtChngBttn:disabled{
  background-color: #649ff7 !important;
  opacity: 1 !important;
}

.applyMlWghtChngBttn:active {height:3.45rem}
.circleCheck{
  
}

.subFrmBttnDisabled{
  color: #0d6dfd81;
}

.subFrmBttnEnabled{
  color: #0d6efd;
}
.subFrmBttnHovered{
  height:3.5rem;
}
.subFrmBttnClicked{
  height: 3.25rem;
}
.applyMlWghtChngBttn svg {
  color:#ffffff;
      margin: 0 !important;
        height: 2rem !important;
}
.mlWghtPcrntChckrDiv {
  display: grid;
  grid-template-columns: 85% auto;
  grid-template-rows: 1.5rem auto;
  grid-template-areas: "explanation chckBttn"
    "progBar chckBttn";
  width: 90%;
  align-items: center;
  /* justify-items: stretch; */
  margin: 1rem -5px auto 0;
  justify-content: center;
  /* align-content: center; */
}
.progress{
  margin: 0 -0.5rem 0.5rem 0;
  z-index: 1;
  grid-area: progBar;
  align-self: start;
}
.progress-bar{
  z-index: 2;
}
.labelOff{
  visibility: hidden;
}
.mlWghtPrcntChckrExplntn {
  grid-area: explanation;
  font-size: 0.8rem;
  text-align: right;
  font-style: italic;
  margin-right: 0.5rem;
  /* padding: 0 !important; */
  /* height: min-content !important; */
}
.accrdnWMPDetailsBdy div.accordion-flush{
      margin-right: -0.5px;
        margin-bottom: -0.5px;
}
.chooseRecipesIngrdntValError{
  margin-left:-10rem;

}
.myPopover{
  width: 8rem;
  height: 3.5rem;
  font-size: .875rem;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3rem;
  inset: auto auto 0px 0px;
  margin: -3rem 0 0 -9rem;
}
.myPopoverArrow{
      position: absolute;
        left: 0px;
        transform: translate3d(47.2px, 0px, 0px);
      right: calc(-.5rem - 1px);
        width: .5rem;
        height: 1rem;
}
.myPopoverBody{
      padding: 1rem 1rem;
        color: #212529;
}
.myPopoverArrow::before{
      right: 0;
          position: absolute;
            display: block;
            content: "";
            border-color: transparent;
            border-style: solid;
        border-left-color: var(--bs-popover-arrow-border);
        border-width: calc(var(--bs-popover-arrow-width) * .5) 0 calc(var(--bs-popover-arrow-width) * .5) var(--bs-popover-arrow-height);
}
.myPopoverArrow::after {
      right: var(--bs-popover-border-width);
      position: absolute;
        display: block;
        content: "";
        border-color: transparent;
        border-style: solid;
        border-left-color: var(--bs-popover-bg);
            border-width: calc(var(--bs-popover-arrow-width) * .5) 0 calc(var(--bs-popover-arrow-width) * .5) var(--bs-popover-arrow-height);
}
.selectFieldValError{
  margin: 0.5rem 0 0 0 !important;
}
.dayMacTable{
z-index: 5;
margin: 0.5rem;
}
.mealMacTable{
    z-index: 4;
    margin: 0.5rem;
}
.usrHndlAndDrpDwn{
  align-items: center;
}
.usrHndlOnNvBr{
  color:#fff;
}
.userPhotoURLFrmGrp{
  display:grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "userPhotoURLLabel userPhotoPreview"
    "userPhotoURLInput userPhotoURLInput"
    "userPhotoURLValError userPhotoURLValError";
}
.userPhotoURLLabel{
  grid-area: userPhotoURLLabel;
  align-self: end;

}
.userPhotoPreview{
  grid-area: userPhotoPreview;
  margin:0.5rem 0 1rem 0;
  justify-self: end;
  align-self: start;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
}
.userPhotoURLInput{
  grid-area: userPhotoURLInput;
}
.userPhotoURLValError{
  grid-area: userPhotoURLValError;
}
.dropdown-menu{
  right:25% !important
}
.wmpsTblsCard button.collapsed{
  margin-bottom: -1px;
  border-radius: 0 0 0.30rem 0.30rem !important;
}
.myWMPsCardHdr{
  display:unset;
}
.createWMPBttn{
  margin:1rem 0 0.5rem 0;
}
.wmpsAccrdn{
  max-height:75vh !important;
  overflow: scroll !important;
}
.accrdnwmpsTblsBdy{
  height:100% !important;
  padding:0.5rem !important;
  background-color: rgb(0 0 0 / 3%);
}
.wmpsTbls * {
  padding: 0.25rem !important;
  font-size: 0.8rem;
  background-color: #fff;
}
.loginSubmit{
  padding: 0.25rem 0.5rem !important;
}
.weekMealPlanMacroBadge label{
      margin-top: 0;
        margin-bottom: .5rem;
        font-weight: 500;
        line-height: 1.2;
        font-size:1rem;
}
.badge input.placeholder {
  margin-bottom: 0.5rem !important;
}
.ingrdntName input.placeholder {
  margin: 0.5rem 0 !important;
}
.placeholderIconGroup{
  margin:0.4rem;
  align-self: flex-start;
}
.wmpNameFrmGroup input.placeholder {
  width:90%;
}
span.placeholder{
  width: 3rem;
}
.selectPlaceholderFormGrp{
  margin:0.5rem 0;
}
.selectPlaceholderFormGrp div {
 margin:unset !important;
 padding:unset !important;
}
.selectPlaceholderFormGrp select {
  margin: 0.5rem 0 0 -0.01rem !important;
  padding: unset !important;
}
 label.placeholder {
  min-height: 1rem !important;
}
.recipeSelectHeader span.placeholder{
  width:4rem !important;
}
.mealIngrdntInputs h6.placeholder-glow{
  margin: 0.5rem 0 !important;
}
.valErrorsUl{
  list-style: none;
  text-align: left;
  padding-left: 0.5rem;
}
.valErrorsListDiv{
  padding:0.25rem 0 0 0 !important;
  line-height: 1.1rem;
text-align: left;}
.valErrorsListDiv ul{
  list-style: none;
  padding:0.25rem 0 0 0 !important
}
.valErrorsListDiv li{
      padding: 0.25rem 0.5rem 0 !important;
      font-size: 0.8rem;
}
.topValErrors{
  margin: 0.5rem 0.5rem -0.5rem !important;
}
div.emptyPlaceholder{
margin: 1rem auto 2rem;
}
div.emptyPlaceholder span{
  width:50vw;
  height:2rem;
}
.lottieCont{
  position: fixed;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 9;
  /* margin-left: -1.7rem; */
}
.lottieSubCont{
  background: rgb(255 255 255 / 95%) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width:50%; */
  height:fit-content;
  margin-top:-10rem;
  border-radius: 1rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.lottiePlayer {
  margin: -7rem !important;
  width: 20rem;
}
.lottieText {
  font-size: 24pt;
  font-weight: bold;
  margin-left: 1rem;
}
.slctSrchRcpsLstWCreate{
  margin: 7px 5px 5px 0px !important;
}
.wmpCopyProgressCont{
  position: fixed;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 9;
}
.wmpCopyProgressSubCont{
  background: rgb(255 255 255 / 95%) !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:75vw;
    height: fit-content;
    margin-top: -10rem;
    padding:1rem;
    border-radius: 1rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.wmpCopyProgressSubCont label{
  margin-bottom: 0.5rem;
}
.wmpCopyProgressSubCont div.progress{
  align-self: center;
  width:90%;
}
.wmpCopyCont{
  position: fixed;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 9;
  /* margin-left: -1.7rem; */
}
.wmpCopySubCont {
  background: rgb(255 255 255 / 95%) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width:50%; */
  /* height: fit-content; */
  margin-top: -10rem;
  border-radius: 1rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.wmpCopyText {
  font-size: 20pt;
  font-weight: bold;
  margin-left: 1rem;
}
.wmpCopySubCont div{
  margin:1rem;
  padding: 0;
}
.loginCard{
  max-width: 400px;
}
.nav-tabs{
  margin: -0.75rem 0 1rem 0 !important;
  color:inherit;
}
.tabLink{
  padding: 0.5rem !important;
  color:unset !important;
}
.tabLink span {
  margin-left: 0.5rem;
}
a {
  color:unset !important;
}
.shopListThRow{
  height:5rem;
}
.shopListTHPerpendicular {
  rotate: -90deg;
  vertical-align: middle;
  max-width: 2rem;
}
.shopListTHSubSpan{
  display: flex;
  justify-content: center;
  margin-top: -2px;
}
.shopListItemTr{
  height: 100%;
}
.shopListItemCheckTd{
}
.shopListItemCheckTdSubDiv{
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
}
.shopListItemCheckTdSubDiv input{
        height: 1.5rem;
        width: 1.5rem;}
.shopListItemQtyHaveTd{
  
}
.shopListItemQtyHaveTdSubDiv{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  max-width:7rem;
}
.shopListItemQtyHaveTdSubDiv input{
  min-width:5rem;
}
.shopListItemQtyHaveTd input {
}
.shopListItemQtyHaveTd div.iconGroup{
  margin: -2px -3px 0 0.2rem !important;
}
::-webkit-inner-spin-button {
  margin-bottom: -2.2px;
}
.perpendicularTextCell{
  rotate: -90;
}
.logoWWordsCrossBigHome{
  max-width:40rem;
}
.primaryColorText{
  color:#bc6bab
}
.homeWMPsLinkCont, .homeWMPsLinkCont a {
  width:100%;
  height:fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:1rem 0 0 0;
}
a.homeWMPsLink{
  width:fit-content;
  margin: 1rem;
  text-decoration: none;
  border-radius: 2.5rem;
    padding: 0.5rem 1rem;
    background-color: var(--accentColor);
    color:var(--offWhite) !important;
    
}
.homeWMPsLink span{
}
.biggerIcon{
  font-size: 1.5rem;
  margin-right: 0.75rem;
}
.homePgScreenShot{
  height:450px;
}
main{
  padding: 1rem;
}
figure{
  width:min-content;
  text-align: center;
  padding: 1rem;
}
figcaption{
  margin-bottom: 1rem;
}
footer{
  border: 1px solid rgba(0, 0, 0, .125);
  background-color: rgba(0, 0, 0, .03);
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p{
  margin:1rem !important;
}
.bigHomeStockPic{
  max-width: 800px;
}
.logoFork,.logoHalo{
  fill:var(--brandColorPrimary);
}
.logoOuterRing{
  stroke: var(--brandColorPrimary);
}
.hwChwLgCrssItemsWWhiteFill{
  fill:var(--offWhite);
}
.hwChwLgCrssItemsWGreyStroke {
  stroke: #7e8082;
}
.hwChwLgCrssItemsWGreyFill{
  fill: #7e8082;
}
.hwChwLgCrssItmsWPrmryClrFill{
  fill: var(--brandColorPrimary);
}
.hwChwLgCrssItmsWPrmryClrStroke {
  stroke: var(--brandColorPrimary);
}
.hwChwLgCrssItmsWShadow{
  mix-blend-mode: darken;
  opacity: .65;
}
.screenshotFrame {
  border-image-source: url("adobeStockiPhoneFrame.svg");
  border-style: solid;
  border-width: 3rem;
  border-image-slice: 6.7% 12% 5%;
  width: 22rem;
  height: 44.2rem;
  margin: -1.2rem -1rem -0.75rem -1rem;
}
.screenshot{
  background-size: 18.5rem 41rem;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: currentColor;
  border-radius: 3rem;
  margin: 1rem;
}
.svg-inline--fa{
  color:var(--textAndDarkColor) !important;
}
.screenshotAnnotation{
  border-style: solid;
  border-color: var(--scrnShtAnnttnShapeColor);
  border-width: 0.25rem;
  position: absolute;
  border-radius: 0.5rem;
}